.container{
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 20px;
    width: 400px;
    height: 100%;
    border-right: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
}

.container h3{
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
}

.container ul{
    list-style: none;
}

.container ul li button{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 10px;
    width: 80%;
    margin: 20px auto;
    font-size: 30px;
    text-align: start;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 40px;
}
.container ul li button:hover{
    background-color: white;
    color: rgb(56, 56, 56);
}
