.navBar {
    background-color: black;
    width: 110px;
    display: block;
    height: 100%;
    padding: 10px;
    justify-items: center;
    margin: 0%;
    border-right: 1px solid white;
}

.navBar ul li {
    margin: 30px 0px;
    justify-self: center;
}

.navBar ul li button {
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.navBar ul li button span {
    font-size: 12px;
    color: white;
}

.navBar ul li button:hover {
    background-color: rgb(184, 0, 0);
}
