.navBar{
    background-color: black;
    max-width: 110px;
    display: block;
    height: 890px;
    padding: 10px;
    justify-items: center;
}

.navBar ul li{
    margin: 30px 0px;
    justify-self: center;
} 

.navBar ul li a{
    cursor: pointer;
}

.navBar ul li:hover{
    background-color: rgb(82, 82, 82);
}

.activo{
    background-color: red;
}

.activo:hover{
    background-color: #ff3e3e;
}