:host {
    display: flex;
    min-height: 100vh;
    background-color: rgb(56, 56, 56);
}

app-component1 {
    flex-shrink: 0;
}

app-component2 {
    flex: 1;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container h3 {
    margin-bottom: 20px;
    font-size: 50px;
}
.container p {
    font-size: 40px;
}